.calculadora {
    padding: 10px;
    background: rgb(175, 94, 94);
    width: 200px;
    border-radius: 20px;
}
.listaMensal {
    padding: 10px;
    background: rgb(233, 183, 183);
    width: 200px;
    border-radius: 20px;
}
.calculadora input {
    background: black;
    color: white;
    border-radius: 15px;
    height: 25px;
}
.spResul {
    background: black;
    color: yellow;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
}

#btnCalc {
    width: 50px;
    padding: 5px;
    background: rgb(79, 148, 88);
    margin-top: 15px;
    border-radius: 10px;
}
#btnCalc:hover {
    background: rgb(44, 53, 45);
    color: white;
    cursor: pointer;
}
